---
layout: base.njk
title: Oops! Not Found
permalink: 404.html
---


		<main class="w-full h-screen flex items-center justify-center px-4" id="main">

			<p class=" text-xl text-center">
				404 Nothing to see here. Go back to our <a href='/'>home</a>
			</p>

			<!-- <canvas class="canva-play w-screen h-screen"></canvas> -->
		</main>
