---
layout: base.njk
title: Nucleus
description: Nucleus is a venture studio focused on accelerating failure and perfecting execution. Not for everybody.
---

<main id="main">
  <div class="tickerwrapper marquee" id="marquee">
    <h3>
      WE’RE HIRING PROBLEM SOLVERS IN SOFTWARE ENGINEERING, DESIGN, SALES, AND
      MARKETING! &nbsp;
    </h3>
  </div>
  <div class="ratio">
    <dotlottie-player
      src="https://lottie.host/8d8a54f3-a438-49d2-b11a-6753a5bfed9e/cQ11xD8sJJ.json"
      background="transparent"
      speed="1"
      direction="1"
      playMode="normal"
      autoplay
    >
    </dotlottie-player>

    <div class="btn-wrapper absolute left-1/2 -translate-x-1/2">
      <div class="btn-neon">
        <a href="" class="neon">Wanna join us?</a>
      </div>
    </div>
  </div>
  <p class="text-white paragraph-footer">
    Nucleus is a venture studio focused on <span>accelerating failure</span> and
    <span>perfecting execution</span>. <span>Not for everybody</span>.
  </p>

  <!-- <canvas class="canva-play w-screen h-screen"></canvas> -->
</main>
