---
layout: base.njk
title: Nucleus
description: Nucleus is a venture studio focused on accelerating failure and perfecting execution. Not for everybody.
---

<main id="main ">
  <div class="container mx-auto pt-36">
    <h3 class="text-xl text-white mb-5">
      Lista delle versioni dell'animazione:
    </h3>
    <ul class="mb-10">
      <li>
        <a
          class="text-white font-extrabold mb-2 inline-block hover:underline"
          href="/nucleus-v1"
          >Version - 1</a
        >
      </li>
      <li>
        <a
          class="text-white font-extrabold mb-2 inline-block hover:underline"
          href="/nucleus-v2"
          >Version - 2</a
        >
      </li>
      <li>
        <a
          class="text-white font-extrabold mb-2 inline-block hover:underline"
          href="/nucleus-v3"
          >Version - 3</a
        >
      </li>
    </ul>
    <p class="max-w-xl text-white">
      L'effetto neon creato con il blur è problematico, le SVG non lo tengono.
      Non possono essere esportate con il gaussian blur. <br />
      Quindi abbiamo trovato un modo alternativo come ti dicevo usando Lottie
      che riesce parzialmente a tenerlo: <br />
      <br />
      - La Versione 1 è quella con li blur originale da SVG. Purtroppo anche su
      lottie crea un glitch che fa "accendere" l'effetto neon dato dal blur a
      1/3 dell'animazione. <br />
      <br />

      - Per la versione 2 e 3 abbiamo creato il blur usando un hack, disegnando
      tante tante linee parallale a quella del path con opacità decrescente.
      Così facendo tiene l'effetto neon dal principio dell'animazione. Io ci
      vedo delle linee che non mi piaciono, sopratutto nella v2. Ma probabile
      perchè la ho vista troppo...
      <br /><br />

      La differnza tra le due versioni, v2 e v3 sta nell'opacità delle linee e
      quinid nella pesantezza dell'effetto neon. Nella v2 l'effetto è massimo
      nella v3 minimo.
    </p>
  </div>
</main>
