---
layout: base.njk
title: Nucleus
description: Nucleus is a venture studio focused on accelerating failure and perfecting execution. Not for everybody.
---

<main id="main">
  <div class="ratio">
    <dotlottie-player
      src="https://lottie.host/e6ee42ad-2826-4b6d-976e-788c8c7aff3f/AwSqi8fIPT.lottie"
      background="transparent"
      speed="1"
      direction="1"
      playMode="normal"
      autoplay
    >
    </dotlottie-player>

    <div class="btn-wrapper absolute left-1/2 -translate-x-1/2">
      <div class="btn-neon">
        <a href="" class="neon">Wanna join us?</a>
      </div>
    </div>
  </div>
  <p class="text-white paragraph-footer">
    Nucleus is a venture studio focused on accelerating failure and perfecting
    execution. Not for everybody.
  </p>

  <!-- <canvas class="canva-play w-screen h-screen"></canvas> -->
</main>
