---
layout: base.njk
title: Nucleus animation v3
permalink: nucleus-v3.html
---

<main id="main" >

<dotlottie-player src="https://lottie.host/e090dca4-2a28-4e2e-b5ef-ab836a76fe0b/WTRVl9hF3Q.lottie" background="transparent" speed="1" style="width: 100%; height: 100%" direction="1" playMode="normal" autoplay></dotlottie-player>
  

  <h1 class="text-white text-center absolute text-3xl bottom-20">
    Animation v3 <br />

    <a href="/" class="underline text-sm">BACK TO HOME</a>
  </h1>
</main>