---
layout: base.njk
title: Nucleus animation v2
permalink: nucleus-v2.html
---

<main id="main" >

<dotlottie-player src="https://lottie.host/1a58a2b3-7581-4aad-8604-1095eabfed6a/0eGVvrHmYg.lottie" background="transparent" speed="1" style="width: 100%; height: 100%" direction="1" playMode="normal" autoplay></dotlottie-player>
  

  <h1 class="text-white text-center left-1/2 -translate-x-1/2  absolute text-3xl bottom-20">
    Animation v2 <br />

    <a href="/" class="underline text-sm">BACK TO HOME</a>
  </h1>
</main>